<!DOCTYPE html>
<html>
  <head>
    <title>SurfsUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </body>
</html>
